// В .features-list закомментировал display: flex;
// Чтобы было как на макете для Мобильного

.features-list {
    // display: flex;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

// В .features-list__item
// было width: 270px;
// сделал width: 100%;
// Чтобы было как на макете для Мобильного

.features-list__item {
    // width: 270px;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

// Создал .features-list__item:not(:last-child)
// со значением margin-bottom: 30px;
// Чтобы было как на макете для Мобильного

.features-list__item:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}

// В .features-list .features-list__item+.features-list__item
// закомментировал margin-left: 30px;
// Чтобы было как на макете для Мобильного

.features-list .features-list__item+.features-list__item {
    // margin-left: 30px;
}

.features-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 100px;
    margin-bottom: 30px;

    background: var(--icon-feature);
    border-radius: 4px;
}

// В .features-list .features-list__title
// Добавил text-align: center
// было   @include font(null, null, 14px, 1.14, null);
// сделал @include font(Roboto, 700, 14px, 1.14, 0,03em);
// Чтобы было как на макете для Мобильного

.features-list .features-list__title {
    margin-bottom: 10px;
    color: var(--title-text-color);

    @include font(Roboto, 700, 14px, 1.14, 0.03em);
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

// В .features-list .text
// было @include font(null, 400, 14px, 1.71, null);
// сделал @include font(Roboto, 400, 14px, 1.71, 0.03em);
// Чтобы было как на макете для Мобильного

.features-list .text {
    @include font(Roboto, 400, 14px, 1.71, 0.03em);
}