// В оригинале у .page-header__logo было
//         font-family: Raleway, sans-serif;
// но я убрал sans-serif;
// добавил  font-weight: 700;
// В font-size: 26px; поставил значение 24рх
// В line-height: 1.19;  поставил значение 1.17
// Добавил letter-spacing: 0.03em;
// чтобы было как на макете для Мобильного

.page-header__logo {
    color: var(--accent-color);

    font-family: Raleway;
    font-weight: 700;

    font-size: 24px;
    line-height: 1.17;

    letter-spacing: 0.03em;

    text-decoration: none;

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.page-header__logo .page-header__logo-black {
    color: #000000;
}

.page-header__logo .logo-white {
    color: #FFFFFF;
}

/* Site nav */

// В .page-heade
// создал padding-top: 16px;
// создал padding-bottom: 16px;
// создал position: relative;
// чтобы было как на макете для Мобильного

.page-header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 16px;
    padding-bottom: 16px;

    position: relative;

    @media screen and (min-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.page-header__container {
    display: flex;
    align-items: center;
}

// Добавил .page-header__menu со всеми вложениями
// чтобы начать с Мобильной версии согласно макета

.page-header__menu {
    position: absolute;

    top: 10px;
    right: 15px;

    padding: 0;
    border: 0;
    background-color: transparent;

    cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

// Создал .page-header__icon-menu
// чтобы начать с Мобильной версии согласно макета

.page-header__icon-menu {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .page-header__menu:hover &,
    .page-header__menu:focus & {
        fill: var(--accent-color);
    }
}

.page-header__nav {
    margin-left: 93px;
}

// В .page-header__site-nav  в оригинале было display: flex;
// Я поставил display: none;
// чтобы начать с Мобильной версии согласно макета

.page-header__site-nav {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.page-header__site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.page-header__site-nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);

    @include font(null, 500, 14px, 1.14, 0.02em);

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
        color: var(--accent-color);
        outline: none;
    }
}

.page-header__site-nav .page-header__link-current {
    color: var(--accent-color);
}

.page-header__item-studio {
    position: relative;
}

.page-header__item-portfolio {
    position: relative;
}

.page-header__link-current::after {
    position: absolute;
    bottom: -1px;
    content: "";

    display: block;

    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: var(--accent-color);
}

// В .page-header__contacts-list в оригинале было display: flex;
// Я поставил display: none;
// чтобы начать с Мобильной версии согласно макета

.page-header__contacts-list {
    display: none;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: block;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

// В .page-header__contacts-list .item+.item я закомментировал margin-left: 50px;
// Чтобы подогнать сайт под Планшет

.page-header__contacts-list .item+.item {
    // margin-left: 50px;

    @media screen and (min-width: 1200px) {
        margin-left: 50px;
    }
}

// Создал .page-header__item
// Чтобы подогнать сайт под Планшет

.page-header__item {
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}

// В .page-header__contacts-list a я закомментировал padding-top: 32px;
// и    padding-bottom: 32px;
// Чтобы подогнать сайт под Планшет

.page-header__contacts-list a {
    display: flex;
    align-items: center;
    // padding-top: 32px;
    // padding-bottom: 32px;
    color: var(--primary-text-color);

    @include font(null, 500, 14px, 1.14, 0.02em);

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &:active {
        color: var(--accent-color);
        outline: none;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.page-header__mail {
    @extend %page-header__mail-tel;
    .page-header__contacts-list a:hover & {
        fill: currentColor;
    }
        .page-header__contacts-list a:focus & {
                fill: currentColor;
            }
}

.page-header__tel {
    @extend %page-header__mail-tel;
    .page-header__contacts-list a:hover & {
        fill: currentColor;
    }
    .page-header__contacts-list a:focus & {
        fill: currentColor;
    }
}

// MOBILE-MENU

.mobile-menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;

    background-color: var(--button-accent-color);
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);

    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;

    


    display: flex;
        
    flex-direction: column;
        
    justify-content: space-between;

    overflow: auto;

    z-index: 1;
}

.button-menu {
    position: absolute;

    top: 10px;
    right: 15px;

    padding: 0px;
    border: 0px;

    background-color: transparent;
    
    cursor: pointer;
}

.menu-close {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    .button-menu:hover &,
    .button-menu:focus & {
            fill: var(--accent-color);
        }
    
    cursor: pointer;
}

.mobile-site-nav .mobile-item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-item {
    @include font(Roboto, 500, 40px, 1.17, 0.02em);
}

.mobile-item a {
    text-decoration: none;

    color: var(--title-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
            color: var(--accent-color);
        }
}

.mobile-contacts-list {
    margin-bottom: 64px;
}

.mobile-contacts-list .mobile-contacts-item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-tel {
    @include font(Roboto, 500, 34px, 1.17, 0.02em);
}

.mobile-tel a {
    color: var(--accent-color);
}

.mobile-mail {
    @include font(Roboto, 500, 24px, 1.17, 0.02em);
}

.mobile-mail a {
    color: var(--primary-text-color);
}

.mobile-contacts-item a {
    text-decoration: none;
}

.mobile-soc {
    display: flex;

    @include font(Roboto, 500, 18px, 1.22, 0.02em);
}

.mobile-soc .mobile-soc-item:not(:last-child) {
    padding-right: 10px;

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(33, 33, 33, 0.2);
}

.mobile-soc .mobile-soc-item:not(:first-child) {
    padding-left: 10px;
}

.mobile-soc a {
    text-decoration: none;

    color: var(--accent-color);
}
