// В оригинале у .page-header__logo было
//         font-family: Raleway, sans-serif;
// но я убрал sans-serif;
// добавил  font-weight: 700;
// В font-size: 26px; поставил значение 24рх
// В line-height: 1.19;  поставил значение 1.17
// Добавил letter-spacing: 0.03em;
// чтобы было как на макете для Мобильного

.page-header__logo {
    color: var(--accent-color);

    font-family: Raleway;
    font-weight: 700;

    font-size: 24px;
    line-height: 1.17;

    letter-spacing: 0.03em;

    text-decoration: none;
}

.page-header__logo .page-header__logo-black {
    color: #000000;
}

.page-header__logo .logo-white {
    color: #FFFFFF;
}

/* Site nav */

// В .page-heade
// создал padding-top: 16px;
// создал padding-bottom: 16px;
// создал position: relative;
// чтобы было как на макете для Мобильного

.page-header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 16px;
    padding-bottom: 16px;

    position: relative;
}

.page-header__container {
    display: flex;
    align-items: center;
}

// Добавил .page-header__menu со всеми вложениями
// чтобы начать с Мобильной версии согласно макета

.page-header__menu {
    position: absolute;

    top: 10px;
    right: 15px;

    padding: 0;
    border: 0;
    background-color: transparent;

    cursor: pointer;
}

.page-header__icon-menu {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .page-header__menu:hover &,
    .page-header__menu:focus & {
        fill: var(--accent-color);
    }
}

.page-header__nav {
    margin-left: 93px;
}

// В .page-header__site-nav  в оригинале было display: flex;
// Я поставил display: none;
// чтобы начать с Мобильной версии согласно макета

.page-header__site-nav {
    display: none;
}

.page-header__site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.page-header__site-nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);

    @include font(null, 500, 14px, 1.14, 0.02em);

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
        color: var(--accent-color);
        outline: none;
    }
}

.page-header__site-nav .page-header__link-current {
    color: var(--accent-color);
}

.page-header__item-studio {
    position: relative;
}

.page-header__item-portfolio {
    position: relative;
}

.page-header__link-current::after {
    position: absolute;
    bottom: -1px;
    content: "";

    display: block;

    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: var(--accent-color);
}

// В .page-header__contacts-list в оригинале было display: flex;
// Я поставил display: none;
// чтобы начать с Мобильной версии согласно макета

.page-header__contacts-list {
    display: none;
    margin-left: auto;
}

.page-header__contacts-list .item+.item {
    margin-left: 50px;
}

.page-header__contacts-list a {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);

    @include font(null, 500, 14px, 1.14, 0.02em);

    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &:active {
        color: var(--accent-color);
        outline: none;
    }
}

.page-header__mail {
    @extend %page-header__mail-tel;
    .page-header__contacts-list a:hover & {
        fill: currentColor;
    }
        .page-header__contacts-list a:focus & {
                fill: currentColor;
            }
}

.page-header__tel {
    @extend %page-header__mail-tel;
    .page-header__contacts-list a:hover & {
        fill: currentColor;
    }
    .page-header__contacts-list a:focus & {
        fill: currentColor;
    }
}