// В оригинале в .hero
// также было padding-top: 200px;
// padding-bottom: 200px;
// я сделал padding-top: 118px;
// padding-bottom: 118px;
// чтобы было как на макете для Мобильного

.hero {
    max-width: 1600px;

    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            var(--overlay-hero),
            var(--overlay-hero)),
        url(../images/discussion.jpg);
    background-color: var(--hero-bg-color);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 480px) {
        max-width: 100%;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

// В оригинале в .hero__title
// было     @include font(null, 900, 44px, 1.36, 0.06em);
// я сделал @include font(Roboto, null, 26px, 1.61, 0.06em);
// чтобы было как на макете для Мобильного

.hero__title {
    margin-bottom: 30px;
    color: var(--button-accent-color);

    @include font(Roboto, null, 26px, 1.61, 0.06em);

    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        @include font(Roboto, 900, 26px, 1.61, 0.06em);
    }

    @media screen and (min-width: 1200px) {
        @include font(Roboto, 900, 44px, 1.36, 0.06em);
    }
}

// В оригинале в .hero__button
// было padding: 10px 32px;
// я сделал padding: 10px 24px;
// было min-width: 216px;
// я сделал min-width: 200px;
// чтобы было как на макете для Мобильного

.hero__button {
    display: inline-block;
    color: var(--button-accent-color);
    background-color: var(--accent-color);

    border-radius: 4px;
    padding: 10px 24px;
    min-width: 200px;
    border: 0px;

    @include font(null, 700, 16px, 1.87, 0.06em);

    cursor: pointer;

    transition-property: box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    outline: none;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: var(--accent-bg-color);
    }

    @media screen and (min-width: 1200px) {
        padding: 10px 32px;

        min-width: 216px;
    }
}