h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.img-works,
.img-team,
.img-filter {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// В .section 
// padding-top: 94px; я поставил значение 60рх
// и padding-bottom: 94px; я поставил значение 60рх
// Чтобы было как на макете для Мобильного

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.page {
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

// В .container 
// я закомментировал width: 1200px;
// чтобы было как на макете для Мобильного

.container {
    // width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    max-width: 480px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}